<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Pacientes.Properties.Settings.ProyectoProgra4ConnectionString" connectionString="Data Source=CARLOS-CÁMBARA\SQLEXPRESS;Initial Catalog=ProyectoProgra4;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="PersonasSoap">
                    <security mode="Transport"/>
                </binding>
                <binding name="PersonasSoap1"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44303/Personas.asmx" binding="basicHttpBinding" bindingConfiguration="PersonasSoap" contract="ServiceReference1.PersonasSoap" name="PersonasSoap"/>
        </client>
    </system.serviceModel>
</configuration>
